.app.dark {
  --bg-color: #252b48;
  --bg-color-outside: #434b84;

  --bg-color-inverted: #b0daee;

  --primary-color: #2f3259;
  --primary-color-text: #ffffff;
  --secondary-color: #202441;
  --secondary-color-text: #777b96;
}
