.app.light {
  --bg-color: #b0daee;
  --bg-color-outside: #e2f5ff;

  --bg-color-inverted: #252b48;
  --bg-color-card: #fff;

  --primary-color: #004e81;
  --primary-color-text: #004e81;
  --secondary-color: #8bd9ff;
  --secondary-color-text: #9b9b9b;
}
